Import the Dependencies

In [224]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler####
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')

Data Collection and Analysis

In [225]:
#loading the diabetes dataset
diabetes_dataset = pd.read_csv('/diabetes.csv')
diabetes_dataset.head()
# 1 ----> diabetic
# 0 ----> non_diabetic

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [226]:
diabetes_dataset.shape

(768, 9)

In [227]:
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [228]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [229]:
diabetes_dataset['Outcome'].value_counts()
#good ratio

0    500
1    268
Name: Outcome, dtype: int64

In [230]:
X = diabetes_dataset.drop(columns='Outcome',axis=1)
Y = diabetes_dataset['Outcome']

Data Standardization
(1)scaler = StandardScaler()
(2)scaler.fit_transfrom(X)

In [231]:
#Pregnancies are from range 1_6 ,,,,Glucose are from range 100_140 etc
#That make it harder form our ml model to make some prediction
#Solution -----> Standardize data
scaler = StandardScaler()

In [232]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [233]:
scaler.fit(X)

StandardScaler()

In [234]:
Standardized_data = scaler.transform(X)
print(Standardized_data)
#All the data are from range -1,1
#That will help our model to make better prediction because all the values are almost in the similar range

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [235]:
#scaler.fit_transform(X) you can use it straight forward

In [236]:
X = Standardized_data
#Y = diabetes_data['Outcome']

In [237]:
print(X,Y,sep='\n')

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Train Test Split

In [238]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)#stratify to avoid all diabetics to go to x_train and all y go to x_test

In [239]:
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (614, 8) (154, 8)

Training the model

In [240]:
classifier = svm.SVC(kernel='linear')

In [241]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [242]:
X_train_predection = classifier.predict(X_train)

In [243]:
X_train_accuracy = accuracy_score(X_train_predection,Y_train)
print('Score of training data :',X_train_accuracy*100)

Score of training data : 78.66449511400651

In [244]:
X_test_predection = classifier.predict(X_test)
X_test_accuracy = accuracy_score(X_test_predection,Y_test)
print('Score of testing data :',X_test_accuracy*100)

Score of testing data : 77.27272727272727

Train Near to Test -----> no Overfitting

Making a Predective System

In [245]:
input_data = (0,137,40,35,168,43.1,2.288,33)
#changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)
#reshape the model beacuse it was expecting 768,8 and you input one data point
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
#Standardize the input data
std_data = scaler.transform(input_data_reshaped)#you dont need no fit it again
print(std_data)
prediction = classifier.predict(std_data)
print(prediction)
if (prediction[0] == 0) :
  print('The person is not dibetic')
else:
  print('The person is dibetic')

[[-1.14185152  0.5040552  -1.50468724  0.90726993  0.76583594  1.4097456
   5.4849091  -0.0204964 ]]
[1]
The person is dibetic